<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IOCode_CodingTest</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/board.css">
</head>

<header>
	<div></div>
</header>
<body>
	<div class="board-table">
		<table>
			<tr>
				<td>글번호</td>
				<td>글제목</td>
				<td>작성일</td>
			</tr>
			<tr>
				<td>1</td>
				<td>안녕하세요</td>
				<td>2021-04-27</td>
			</tr>
		</table>
	</div>
</body>

<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-3.5.1.min.js"></script>