#container {
    width:650px;
    margin:0 auto;
    padding:0px;
    text-align: center;
    border: 5px solid burlywood;
}
#check{
    width:650px;
}
h1{
    color: white;
    font-size: 1em;
    background-color: black;
    margin: 0;
    padding: 10px;
}
h2{
    color: red;
    font-size: 1.2em;
    text-align: center;
}
p{  
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
}
.blue{
    color: blue;
}
.small{
    font-size: 0.7em;
}