@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

* {
margin:0;
padding:0;
}
body {
	background: #fff;
	font-family: "Jeju Gothic", serif;
}
a {
	text-decoration: none;
}
nav a:link, a:visited {
	color: #fff;
}
nav a:active {
	color: yellow;
}

h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.3em;
}
p{
	font-size: 1.3em;
	line-height: 2.5;
}
li{
	font-size: 1em;
	line-height: 2;
}